{{ form_start(form) }}
    <div class="row">
        <div class="col-lg-12 ">
            {{ form_row(form.titre) }}
        </div>
    </div>
    <div class="row margin_row">
        <div class="col-lg-12 ">
            {{ form_row(form.description) }}
        </div>
    </div>
<div class="row margin_row">
    <div class="col-lg-12 text-center ">
        <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
    </div>
</div>
{{ form_end(form) }}
